.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

img{
    width: 150px;
}

.logo{
    padding-left: 40px;
    width: 200px;
}

.nav-items{
    display: flex;
   justify-content: center;
   align-items: center;
    padding: 10px;
}

.nav-items>ul{
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li{
    font-size: 24px;
    padding-right: 70px;
}

.res-container{
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

}

.res-card{
    padding: 5px;
    margin: 10px;
    width: 200px;
    background-color: rgb(214, 246, 135);
    
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-card>img{
    padding: 5px;
    width: 190px;
    height: 120px;
    object-fit: fill;
    
}